[submodule "External/tinyxml2"]
	path = External/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
	branch = master
[submodule "External/opencv3"]
	path = External/opencv3
	url = https://github.com/opencv/opencv.git
	branch = master
[submodule "External/pcl"]
	path = External/pcl
	url = https://github.com/PointCloudLibrary/pcl.git
	branch = master
[submodule "External/eigen"]
	path = External/eigen
	url = https://github.com/RLovelett/eigen.git
	branch = master
[submodule "External/boost"]
	path = External/boost
	url = https://github.com/boostorg/boost.git
	branch = master
[submodule "External/qhull"]
	path = External/qhull
	url = https://github.com/qhull/qhull.git
	branch = master
[submodule "External/flann"]
	path = External/flann
	url = https://github.com/mariusmuja/flann.git
	branch = master
[submodule "External/vtk"]
	path = External/vtk
	url = https://github.com/Kitware/VTK.git
	branch = master
[submodule "External/yamlcpp"]
	path = External/yamlcpp
	url = https://github.com/jbeder/yaml-cpp.git
	branch = master
